.qj-adaptive-table {
    > .ant-spin-nested-loading,
    > .ant-spin-nested-loading > .ant-spin-container {
        height: 100%;
        width: 100%;
    }
    .ant-table-header {
        overflow-y: hidden !important;
    }
    .qj-table-td-txt {
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: normal;
        overflow: hidden;
        display: block;
    }
    .ant-table-scroll {
        padding-right: 10px;
        margin-right: -10px;

        .ant-table-body {
            margin-right: -15px;
        }
    }
    .ant-table-fixed-right {
        .ant-table-header {
            .ant-table-fixed {
                width: 100%;
            }
        }
    }

    .ant-pagination {
        padding: 16px;
        text-align: right;
        position: absolute;
        margin: 0;
        bottom: -64px;
        right: -16px;
        left: -16px;
        box-shadow:2px -2px 4px 0px rgba(241,241,241,0.5);
        background: #fff;
    }
}
