.qj-adaptive-table {
  >.ant-spin-nested-loading, >.ant-spin-nested-loading >.ant-spin-container {
      height: 100%;
      width: 100%;
  }
  .ant-table-header {
      overflow-y: hidden !important;
  }
  .qj-table-td-txt{
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: normal;
      overflow: hidden;
      display: block;
  }
  .ant-table-scroll {
      padding-right: 10px;
      margin-right: -10px;
      
      .ant-table-body {
          // height: calc(100vh - 257px);
          // height: calc(100vh - 192px);
          margin-right: -15px;
      }
  }
  .ant-table-fixed-right{
      .ant-table-header{
          .ant-table-fixed{
              width: 100%;
          }
      }
  }

  .ant-pagination {
      padding: 16px 0;
      text-align: right;
      position: absolute;
      margin: 0;
      bottom: -64px;
      right: 0;
      left: 0;
      border-top: 1px solid #e8e8e8;
      background: #fff;
  }
}