.qj-depart-wrapper {
    height: 100%;
}

.qj-depart-tree {
    height: calc(100% - 40px);
    overflow: auto;
    padding: 8px 10px;
    // &::-webkit-scrollbar {
    //     width: 15px;
    //     height: 15px;
    //     background-color: transparent;
    //     border-radius: 12px;
    // }
    // &::-webkit-scrollbar-thumb {
    //     background: #999;
    //     border-radius: 9px;
    //     background-clip: content-box;
    //     border: 5px solid transparent;
    // }
}
.qj-depart-side {
    height: 100%;
}
.qj-depart-side-box {
    height: 100%;
    overflow: hidden;
}
.qj-depart-side-title {
    padding-left: 20px;
    line-height: 48px;
    height: 48px;
    border-bottom: 1px solid #e8e8e8;
}
.qj-depart-tab-pane {
    height: calc(100vh - 154px);
    overflow: hidden;
    position: relative;
    
    .qj-depart-table {
        margin: 0 16px;
        >.ant-spin-nested-loading, >.ant-spin-nested-loading >.ant-spin-container {
            height: 100%;
            width: 100%;
        }
        .ant-table-header {
            overflow-y: hidden;
        }
        .ant-table-thead > tr > th {
            white-space: nowrap;
            text-overflow: ellipsis;
            word-wrap: normal;
        }
    
        .ant-table-row td {
            white-space: nowrap;
            text-overflow: ellipsis;
            word-wrap: normal;
        }
        .ant-table-scroll {
            padding-right: 10px;
            margin-right: -10px;
            
            .ant-table-body {
                // height: calc(100vh - 257px);
                // height: calc(100vh - 192px);
                margin-right: -15px;
            }
        }
        .ant-table-fixed-right{
            .ant-table-header{
                .ant-table-fixed{
                    width: 100%;
                }
            }
        }

        .ant-pagination {
            padding: 16px 0;
            text-align: right;
            position: absolute;
            margin: 0;
            bottom: -64px;
            right: 0;
            left: 0;
            border-top: 1px solid #e8e8e8;
            background: #fff;
        }
    }
}

.qj-depart-btns {
    padding: 0 8px;
    > button {
        margin: 0 8px;
    }
}

.qj-depart-content {
    margin: 16px 16px 0 16px;
    background: #fff;
}
