.qj-depart-wrapper {
    height: 100%;
}

.qj-depart-tree {
    height: calc(100% - 40px);
    overflow: auto;
    padding: 8px 10px;
}
.qj-depart-side {
    height: 100%;
}
.qj-depart-side-box {
    height: 100%;
    overflow: hidden;
}
.qj-depart-side-title {
    padding-left: 20px;
    line-height: 48px;
    height: 48px;
    border-bottom: 1px solid #e8e8e8;
}
.qj-depart-tab-pane {
    height: calc(100vh - 154px);
    overflow: hidden;
    position: relative;
    
}
.qj-depart-btns {
    padding: 0 16px;
    margin-bottom: 16px;
    > button {
        margin: 0 8px;
    }
}
.qj-depart-content {
    margin: 16px 16px 0 16px;
    background: #fff;
}

#qj-org-flow{
    min-height: 500px;
    height: 100%;
    overflow: hidden;
}