@import "~antd/dist/antd.less";

@primary-color: #FF8C58; // 全局主色
@menu-color: #fff;
@menu-item-font-size: 16px;
@menu-icon-size: 16px;
@menu-bg: #666C7B;
@menu-item-color: #d3d3d3;
@menu-highlight-color: #ff8c58;
@menu-item-active-bg: #ff8c58;
@menu-item-active-color: #fff;