@left-width: 240px;
@height: 64px;
@right-width: 300px;
@collapse-width: 80px;

.qj-header.ant-layout-header {
    padding: 0;
    box-shadow: 0px 0px 3px 1px rgb(37, 37, 37);
}

.qj-logo {
    float: left;
    width: 239px;
    height: @height;
    transition: all 0.2s;
    box-shadow: 0px -2px 3px rgb(37, 37, 37);
}
.qj-logo-img {
    width: 200px;
    height: 50px;
    margin: 7px 20px;
}

.qj-header-center {
    margin-left: @left-width;
    margin-right: @right-width;
    
}

.qj-header-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 25px 5px 5px;
}

.qj-header-collapsed {
    > .qj-logo {
        width: 79px;
    }
    .qj-logo-img {
        margin-left: 8px;
    }
    > .qj-header-center {
        margin-left: @collapse-width;
    }
}

.qj-header-menu.ant-menu-horizontal {
    line-height: 54px;
    padding-top: 5px;
    padding-left: 25px;
    > .ant-menu-item {
        margin: 0 16px;
        padding: 0 4px;
        > a {
            font-size: 16px;
        }
    }
}
