.qj-sidebar.ant-layout-sider {
    // font-size: 16px;
    height: calc(100vh - 64px);
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    .ant-menu {
        border-right: none;
        &-submenu-arrow {
            right: 24px;
        }
        &-inline,
        &-vertical,
        &-vertical-left {
            .ant-menu-item{
                &::after{
                    border: none;
                }
            }
        }
    }
}
.qj-collapes {
    height: 48px;
    line-height: 1.5;
    padding: 12px 24px;
    cursor: pointer;
    position: relative;
    transition: background 0.3s;
    .qj-collapes-icon {
        position: absolute;
        padding: 4px 0;
        right: 21px;
        font-size: 18px;
    }
}
.qj-sidebar.ant-layout-sider-collapsed {
    .qj-collapes {
        text-align: center;
        .qj-collapes-txt {
            display: none;
        }
        .qj-collapes-icon {
            position: static;
        }
    }
}
