.qj-sidebar.ant-layout-sider {
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none
  }
  background: #eff3f6;
  border-right: 1px solid #e8e8e8;

}
.qj-collapes{
  height: 40px;
  background: #999;
  // margin: 1px;
  text-align: center;
}

.qj-side-menu.ant-menu-inline{
  background: #eff3f6;
  border: none;
  .ant-menu-submenu > .ant-menu{
    background: #eff3f6;
  }
}