@import "~antd/dist/antd.less";

// @base: #f938ab;

// .box-shadow(@style, @c) when (iscolor(@c)) {
//   -webkit-box-shadow: @style @c;
//   box-shadow: @style @c;
// }
// .box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
//   .box-shadow(@style, rgba(0, 0, 0, @alpha));
// }
// .box {
//   color: saturate(@base, 5%);
//   border-color: lighten(@base, 30%);
//   div {
//     .box-shadow(0 0 5px, 30%);
//   }
// }

// @color: #4d926f;
// body {
//   color: @color;
// }
// #header {
//   color: #4d926f;
// }
// @color: #253636;
// @color: #ff3636; //覆盖第一次的定义
// #header {
//   color: @color;
// } //多次反复解析
// #header {
//   color: #ff3636;
// }

// @primary-color: #faad14; // 全局主色
// @link-color: #1890ff; // 链接色
// @heading-color: rgba(0, 0, 0, 0.85); // 标题色
// @text-color: rgba(0, 0, 0, 0.65); // 主文本色
// @text-color-secondary : rgba(0, 0, 0, .45); // 次文本色
// @disabled-color : rgba(0, 0, 0, .25); // 失效色
// @border-radius-base: 4px; // 组件/浮层圆角
// @border-color-base: #d9d9d9; // 边框色
// @box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
// @btn-primary-color: #fff;
// @btn-primary-bg: @primary-color;

// @menu-color: #fff;
// @menu-item-font-size: 16px;
// @menu-icon-size: 16px;
// @menu-bg: #666C7B;
// @menu-item-color: #d3d3d3;
// @menu-highlight-color: #ff8c58;
// @menu-item-active-bg: #ff8c58;
// @menu-item-active-color: #fff;

@primary-color: #ff8c58; // 全局主色
// @warning-color: #070706; // 警告色

.qj-table-filter-column {
    display: block;
    padding: 5px 8px;
    .ant-checkbox-group-item {
        display: block;
        padding: 5px 0;
    }
}

// .ant-table-content .ant-table-body {
//     tr:nth-child(even) {
//         background-color: #fafafa;
//     }
// }

.qj-table-no-hover tr:hover td {
    background: transparent !important;
}

.qj-table-outertop-btns {
    margin-bottom: 16px;
    > button {
        margin-right: 16px;
    }
}

.ant-form-item-required::before {
    color: #f03838 !important;
}

/** 全局覆盖滚动条样式*/
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 9px;
    background-clip: content-box;
    border: 5px solid transparent;
}

/** CheckBoxList组件样式*/
.qj-checkbox-list {
    .ant-list-items {
        max-height: 180px;
        overflow-y: auto;
    }
    &-item {
        cursor: pointer;
        padding: 0 !important;
        &:hover,
        &-checked {
            background: @menu-item-active-bg;
        }
        &-checkbox {
            height: 100%;
            width: 100%;
            padding: 12px 24px;
        }
    }
}
/** ant table filter dropdown 下拉框添加箭头*/
.qj-filter-dropdown-arrow {
    display: block;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-width: 5px;
    border-style: solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
}

/** 模态框底部按钮默认居中显示 */
.ant-modal-footer {
    text-align: center !important;
}

.qj-content {
    height: 100%;
    // margin: 16px 16px 0 16px;
    background: #fff;
}

//caseCommon pageCard title buttons
.qj-page-card-title-btn-warpper {
    margin: -5px 0;
    height: 32px;
    line-height: 32px;
    color: "#676B6D";
    > button {
        margin-right: 8px;
    }
}
